<div>
  <div class="mb-12">
    <app-subtitle
      [title]="'establishment.membership_institution_title'"
      [details]="'establishment.membership_institution_details'"
    ></app-subtitle>
    <div class="h-20 mt-2">
      <app-applicant-radio-buttons
        (handleSelect)="handleSelectEvent($event)"
      ></app-applicant-radio-buttons>
    </div>
  </div>
  <div *ngIf="selectedType === 'selection1'">
    <div class="mb-8">
      <app-subtitle
        [title]="'establishment.applicant_position_title'"
        [details]="'establishment.applicant_position_details_in_institution'"
      ></app-subtitle>
      <div class="h-16 mt-2">
        <app-applicant-positions-radio-buttons
          [selections]="selections"
        ></app-applicant-positions-radio-buttons>
      </div>
    </div>
    <div class="mb-8">
      <app-subtitle
        [title]="'establishment.applicant_attributes_title'"
        [details]="'establishment.applicant_attributes_details'"
      ></app-subtitle>
      <div class="mt-3.5 mr-7">
        <app-applicant-attribute-radio-buttons></app-applicant-attribute-radio-buttons>
      </div>
    </div>
    <div class="mb-6">
      <app-subtitle
        [title]="'establishment.legal_person_type_title'"
      ></app-subtitle>
      <div class="mt-3.5 mr-7">
        <app-legal-person-types-radio-buttons></app-legal-person-types-radio-buttons>
      </div>
    </div>
    <div class="mb-9">
      <span class="inline-block text-xs text-secondary-darken-1">
        {{ 'establishment.approval_document' | translate }}
      </span>
      <app-drop-file-upload></app-drop-file-upload>
    </div>
  </div>
  <app-establishment-home-btn></app-establishment-home-btn>
</div>
